@charset "UTF-8";
button {
  appearance: none;
  background-color: #ddd;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "futura-pt", sans-serif;
  font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.8em 1.6em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus {
    background-color: shade(#ddd, 20%);
    color: #fff; }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover {
      background-color: #ddd; }

a:link {
  color: #ddd; }

a:visited {
  color: shade(#ddd, 20%); }

a:hover {
  color: #ff5e00;
  text-decoration: underline; }

.main a {
  color: #444; }
  .main a:hover {
    color: #ffa64d; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.8em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.8em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.8em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid shade(#ddd, 25%);
  font-weight: 600;
  padding: 0.8em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.8em 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  background-color: black; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  color: #ddd;
  font-family: "futura-pt", sans-serif;
  font-size: 1.25em;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.4em 0; }

p {
  font-weight: 400;
  margin: 0 0 0.8em; }

a {
  color: #ddd;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: shade(#ddd, 25%); }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.6em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  font-style: italic; }

.caption, .prompt {
  color: #999;
  font-size: 0.75em; }

.home-nav, .panel-nav, .slide-nav {
  font-size: 0.75em;
  letter-spacing: 0.025em;
  text-transform: uppercase; }

#slimpop-wrapper h4.subhead {
  color: #999;
  margin-bottom: 0; }

.panel-title h1, .panel-title h3 {
  color: #ffa64d;
  margin-bottom: 0;
  text-align: center; }

.panel-title p {
  color: #444;
  font-size: 0.75em;
  text-align: left; }

.hidden {
  display: none; }

.unhidden {
  display: block; }

#slimpop-wrapper {
  background-color: white;
  border: 1px solid #ddd;
  color: #444;
  overflow: auto;
  padding: 1.6em;
  margin: auto; }

.slimpop-close {
  float: right; }

#slimpop-overlay {
  background: url(../images/overlay.png) repeat;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99; }

.slimpop-basic {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.65);
  overflow-y: auto;
  position: fixed;
  /* this positions the slimpop relative to viewport, it won't scroll with the page */
  right: 8%;
  top: 8%;
  z-index: 100;
  max-width: 85%;
  max-height: 85%; }

blockquote {
  background-color: #ddd;
  max-height: 250px;
  overflow: auto;
  padding: 0 1.6em; }

cite {
  font-style: normal; }
  cite:before {
    content: "– "; }

audio.voices {
  width: 50%; }

div.image {
  text-align: center;
  border-top: 6px solid #ddd;
  border-bottom: 6px solid #ddd; }
  div.image img {
    border: 1px solid #ddd;
    margin-top: 0.8em; }

div.img-pop {
  float: left;
  margin-right: 0.8em;
  max-width: 50%; }

#slideshow-image {
  max-width: 50vw; }

.show-highlight-background, .show-highlight-foreground, .hide-highlight {
  cursor: pointer; }

.show-highlight-background {
  fill: #f7c98b;
  opacity: 0.7; }

.show-highlight-foreground {
  fill: #a0efed;
  opacity: 0.68; }

.hide-highlight {
  fill: black;
  fill-opacity: 0; }

.hotspot, .mural-panel-hotspot {
  stroke: white;
  stroke-width: 3;
  fill: #ffa64d;
  fill-opacity: 0.25;
  cursor: pointer; }
  .hotspot:hover, .mural-panel-hotspot:hover {
    fill: #ff5e00; }

#tiny-panels a path.selected {
  fill: #ffa64d;
  fill-opacity: 1; }

nav.tabs {
  position: absolute;
  bottom: 0; }

.tabs ul {
  font-size: 0.75em;
  letter-spacing: 0.025em;
  text-transform: uppercase; }
  .tabs ul li {
    background-color: #ffa64d;
    border-radius: 70px;
    display: inline-block;
    margin: 4px 1.6em 0.8em 0;
    padding: 0.8em 1.6em;
    text-align: center;
    width: 42%;
    height: 70px; }

.tabs ul li.selected {
  background-color: #444;
  color: white; }

.learn-more {
  background-color: #ddd;
  margin-left: -3.2em;
  margin-right: -3.2em;
  padding: 0.8em 3.2em 6.4em 3.2em; }
  .learn-more ul li {
    display: inline-block;
    font-size: 1em;
    line-height: 1.2;
    margin-right: 1.6em;
    vertical-align: top;
    width: 20%; }
    .learn-more ul li img {
      border: 1px solid #999; }
    .learn-more ul li span {
      display: block;
      color: #999; }

.slide-nav {
  text-align: right; }
  .slide-nav ul li span.no-more {
    color: #ddd; }
  .slide-nav ul li a:link, .slide-nav ul li a:visited {
    color: #444; }

.home {
  padding: 3.2em 1.6em;
  text-align: center; }
  .home p {
    width: 70%;
    margin: 3.2em auto; }

.wrapper {
  color: #444;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 120px auto; }

.main {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  padding: 0 3.2em;
  position: relative; }

.panel-image {
  max-width: 95%; }

.prev-panel {
  background-color: #444;
  grid-column: 1;
  grid-row: 2;
  margin-right: 1em; }

.next-panel {
  background-color: #444;
  grid-column: 3;
  grid-row: 2;
  margin-left: 1em; }

.home-nav {
  background-color: black;
  grid-column: 1;
  grid-row: 1;
  margin-right: 1em; }

.panel-title {
  background-color: white;
  grid-column: 2;
  grid-row: 1;
  padding: 0 1.6em;
  position: relative; }
  .panel-title p.more-link {
    position: absolute;
    font-weight: bold;
    top: 6.25em;
    right: 4.5em; }
    .panel-title p.more-link a {
      color: #ffa64d; }
  .panel-title p.close-link {
    position: absolute;
    top: 5px;
    right: 10px; }
    .panel-title p.close-link a {
      color: #ffa64d; }

.panel-nav {
  background-color: black;
  grid-column: 3;
  grid-row: 1;
  margin-left: 1em; }

.text-scroll {
  max-height: 400px;
  overflow: scroll; }

/*# sourceMappingURL=mural.css.map */
