# extensions
*.pyc
*.log
*.jpg
*.png
*.gif
*.geojson

# files
.DS_Store
secrets.json
robots.txt
.htaccess

# directories
**/.sass-cache
**/.sass-cache/*
static/
webstat/
images/
media/
local_static/images
pops/images

# allow
