// image treatments

// for images in the main content area
div.img-left {
	float: left;
	max-width: 50%;
	padding: $small-spacing $base-spacing $small-spacing 0;

	p {
		color: $medium-gray;
		font-size: $small-font-size;
	}
}

// for panel hotspots
.show-highlight, .hide-highlight {
	cursor: pointer;
}

.show-highlight {
  fill: black; 
  fill-opacity: 0.8;	
}

.hide-highlight {
  fill: black; 
  fill-opacity: 0;	
}
