// navigation

// for prev/next panel nav

.top-panel-nav, .btm-panel-nav {
	p.previous {
		float: left;
	}

	p.next {
		float: right;
	}
}


// for tab nav of main panel content area

.tabs ul {
	margin-bottom: $base-spacing;

	li {
		display: inline;
		margin: 4px $base-spacing $small-spacing 0;;
		background-color: $light-gray;
		padding: $small-spacing $base-spacing;
	}
}

.tabs ul li.selected {
	background-color: $dark-gray;
	color: white;			
}

.learn-more {
	clear: left;

	ul {
		width: 100%;

		li {
			display: inline-block;
			line-height: $heading-line-height;
			margin-right: $small-spacing;
			vertical-align: top;
			width: 20%;

			img {
				display: block;
				max-width: 85%;
			}
		}
	}
}
