// Breakpoints
$very-small-screen: em(420) !default;
$small-screen: em(879) !default;
$medium-screen: em(640) !default;
$large-screen: em(880) !default;

// Typography
$base-font-family: $futura;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.25em;
$smallish-font-size: 1em;
$small-font-size: 0.75em;
$medlarge-font-size: 1.25em;
$large-font-size: 1.75em;
$largest-font-size: 2.25em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $base-spacing / 4;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $base-spacing * 4;

// Colors
$dark-gray: #444 !default;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $light-gray !default;
$light-font-color: $medium-gray;
$accent-color: #ff5e00;
$action-color: $light-gray;
$hover-color: #ff5e00;

// Background Colors
$base-background-color: black;
$pop-background-color: white;

// Borders
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$darker-border: 1px solid $medium-gray;

// Radii & Misc
$base-border-radius: 3px !default;
$base-z-index: 0;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//shadows
$title-shadow: 1px 1px 2px black;
$drop-shadow: 5px 5px 8px rgba(0, 0, 0, 0.65);

// Animations
$base-duration: 150ms;
$base-timing: ease;
