// panel layout

.wrapper {
	margin: 0.8em;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
		"a b b c"
		"d e e e";
	color: $dark-gray;
	height: 100vh;
}

.panel-image {
	grid-area: d;
}

.main {
	grid-area: e;
	background-color: white;
	padding: $base-spacing;
	overflow: scroll;

	a {
		color: $dark-gray;

		&:hover {
			color: $accent-color;
		}
	}
}
