// panel layout

.wrapper {
	color: $dark-gray;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 130px 1220px;
}

.main {
	grid-column: 2;
	grid-row: 2;
	background-color: white;
	padding: 0 $base-spacing * 2;
	position: relative;
}

.panel-image {
	//max-width: 95%;
}

.prev-panel, .next-panel {
	background-color: black;
	grid-row: 2;
}

.prev-panel {
	grid-column: 1;
	margin-right: 1em;
}

.next-panel {
	grid-column: 3;
	margin-left: 1em;
}

// navigation

.home-nav {
	background-color: black;
	grid-column: 1;
	grid-row: 1;
	margin-right: 1em;
}

.panel-title {
	background-color: white;
	grid-column: 2;
	grid-row: 1;
	padding: 0 $base-spacing;
	position: relative;

	a {
		font-weight: bold;
		color: $accent-color;
	}

	p.close-link {
		position: absolute;
		top: 5px;
		right: 10px;
	}
}

.panel-nav {
	background-color: black;
	grid-column: 3;
	grid-row: 1;
	margin-left: 1em;
}

.text-scroll {
	height: 370px;
	overflow: scroll;
	background-color: $light-gray;
}